@{
    Layout = null;
    ViewBag.Title = "SafeOps";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yei3 | @ViewBag.Title</title>

    @Styles.Render("~/landing/refresh/css")

</head>
<body>
    <div class="wrapper">
        <!--Header-->
        <header id="header" class="header-effect-reveal" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 200, 'stickySetTop': '-52px'}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="/">
                                        <img width="140" height="35" data-sticky-width="100" data-sticky-height="25" data-sticky-top="28" src="~/Images/logo-t-text.fw.png">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="header-column justify-content-end">
                            <div class="header-row pt-2">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                            <a class="nav-link text-primary pl-0 m-list--link" href="#"><i class="icon-mail-2 fs-15 mr-1"></i> ventas@yei3.com </a>
                                        </li>
                                        <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                            <span class="ws-nowrap text-success m-list--link fs-15"><i class="icon-headphone"></i> +52 (55) 47 53 8478</span>
                                        </li>
                                        <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">
                                            <div class="social social-brand text-center">
                                                <a class="social-facebook m-0 transition-hover" href="https://facebook.com/yei3mx" target="_blank"><i class="fab fa-facebook"></i></a>
                                                <a class="social-twitter m-0 transition-hover" href="https://twitter.com/yei3mx"><i class="fab fa-twitter"></i></a>
                                                <!--<a class="social-instagram m-0 transition-hover" href="#"><i class="fab fa-instagram"></i></a>-->
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Header-->

        <main class="main-content">

            <section class="section">
                <div class="container">
                    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                        <h2>Aviso de Privacidad</h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12">
                            <p>
                                Introducción
                                Al usar SafeOps, nos confías tu información. Nos comprometemos a mantener esa confianza. Para esto, comenzaremos ayudándote a comprender nuestras políticas de privacidad.
                                En esta Política se describe la información que recopilamos, cómo se usa y se comparte, y cuáles son tus opciones con respecto a esta. Te recomendamos que leas esta información que destaca los puntos clave sobre nuestras prácticas de privacidad (incluyendo el tipo de información que recopilamos, dónde lo hacemos y cómo la usamos).
                                Última modificación: 03 de junio, 2019
                                Fecha de vigencia: 03 de junio, 2019
                            </p>
                            <p>
                                Recolección y usos de los datos
                                Alcance
                                RESUMEN
                                La presente política se aplica a los usuarios de los servicios de SafeOps en cualquier parte del mundo, incluso los usuarios de las apps, sitios web, funciones u otros servicios de Yei3.
                                Esta política describe cómo Yei3 y sus afiliados recopilan y usan información personal para brindar los servicios. Se aplica a todos los usuarios de nuestras apps, sitios web, funciones u otros servicios en cualquier parte del mundo, a menos que se encuentren bajo una política de privacidad diferente. Esta política se aplica específicamente a los siguientes:
                                	Usuarios: Personas que usan la aplicación para buscar proveedores por RFC en los archivos (conocidos como los listados 69 y 69b) que incluyen a aquellos contribuyentes catalogados como incumplidos por contar con adeudos firmes, exigibles, cancelados o de los que cuenten con sentencia condenatoria por delito fiscal y aquellos que se ubican en la presunción de llevar a cabo operaciones inexistentes a través de la emisión de facturas o comprobantes fiscales, mejor conocidos como las listas negras del SAT.
                                Esta política también se aplica a aquellos que proporcionan información a Yei3 a través de una app para usar nuestros servicios o aquellos cuya información se envía a Yei3 en relación con sus servicios. A los fines de esta política, se implementará la palabra “usuarios” para referirse a todas aquellas personas sujetas a ella.
                            </p>
                            <p>
                                Las prácticas descritas están sujetas a las leyes aplicables de los lugares donde operan, lo que significa que solo participamos en las prácticas definidas en esta política.
                                Controlador de datos
                                RESUMEN
                                SafeOps brinda servicios a usuarios en todo México, Yei3 es el responsable de sus datos.
                                El controlador de datos para la información que nos proporciona o que recopila Yei3 o sus filiales es el siguiente:
                            </p>
                            <p>
                                Yei3 Software S. de R.L. de C.V.
                                Cascada 710-1, Banjidal, Iztapala
                                Ciudad de México, CDMX, 09450
                            </p>
                            <p>
                                Las preguntas, comentarios y reclamos relacionados con las prácticas de manejo de los datos por parte de Yei3 pueden enviarse al correo safeops@yei3.com.
                                Yei3 transfiere información de los usuarios a través de mecanismos aprobados de conformidad con la legislación vigente.
                            </p>
                            <p>
                                La información que reunimos
                                RESUMEN
                                Yei3 recopila lo siguiente:
                                	La información que le proporciona a Yei3, p. ej., cuando crea una cuenta.
                                	La información que se crea cuando usa nuestros servicios, como los RFC de los contribuyentes que busca en los listados.
                                	La información de otra indole, p. ej., fechas en las que realizó operaciones con los contribuyentes que busca en los listados.
                                Yei3 o un representante recopila la siguiente información:
                            </p>
                            <p>
                                1.	Datos que usted brinda
                                Ejemplos:
                                	Perfil de usuario: Recolectamos sus datos cuando crea o actualiza una cuenta SafeOps. Esto puede incluir su nombre, correo electrónico, contraseña y la configuración y preferencias que indique en su cuenta SafeOps.
                                	Contenido del usuario: Es posible que recopilemos los datos que envía al contactar a soporte, o de cualquier otra comunicación que mantenga con Yei3.
                            </p>
                            <p>
                                2.	Información creada al usar nuestros servicios
                                Ejemplos:
                                	Información de transacciones
                                Recopilamos detalles sobre transacciones relacionadas con el pago por el uso de nuestros servicios, incluyendo el tipo de servicios que solicita, detalles de la cuenta, fecha y hora de los pagos y montos cobrados así como sus datos de facturación.
                                	Información de uso
                                Podemos recopilar información sobre cómo interactúa con nuestros servicios, como la fecha y hora de acceso, funciones de la aplicación, fallas de la aplicación y otras actividades en el sistema y tipo de navegador.
                            </p>
                            <p>
                                3.	Información de otras fuentes
                                Ejemplos:
                                	Usuarios u otras personas que proporcionen información en relación con reclamos o conflictos.

                                Yei3 puede combinar la información que recopile de estas fuentes con otra de la que disponga.
                            </p>
                            <p>
                                Cómo utilizamos su información
                                RESUMEN
                                Yei3 recopila y utiliza información para buscar a proveedores por RFC en los archivos (conocidos como los listados 69 y 69b) que incluyen a aquellos contribuyentes catalogados como incumplidos por contar con adeudos firmes, exigibles, cancelados o de los que cuenten con sentencia condenatoria por delito fiscal y aquellos que se ubican en la presunción de llevar a cabo operaciones inexistentes a través de la emisión de facturas o comprobantes fiscales, mejor conocidos como las listas negras del SAT de una manera sencilla, así como para mostrar resumenes sobre los resultados de estas búsquedas. También utilizamos la información que recopilamos con los siguientes propósitos:
                                	Para mejorar la seguridad y la protección de los usuarios y los servicios
                                	Para ofrecer servicios de atención al cliente
                                	Para realizar búsquedas y desarrollo de nuevas funcionalidades o mejoras
                                	Para comunicarnos con los usuarios
                                	Para ofrecer promociones
                            </p>
                            <p>
                                En Yei3 no compartimos ni vendemos su información personal a terceros para su uso en actividades de marketing directo de terceros, ni para ningún otro motivo.
                                Yei3 usa la información recopilada para los siguientes fines:
                            </p>
                            <p>
                                1.	Brindar servicios y funciones
                                Yei3 usa la información recopilada para brindar, personalizar, mantener y mejorar nuestros productos y servicios. Esto incluye usar la información para lo siguiente:
                                	Crear y actualizar su cuenta.
                                	Verificar su identidad.
                                	Permitir servicios de búsqueda de contribuyentes en las listas negras del SAT.
                                	Procesar o facilitar el pago de estos servicios.
                                	Realizar operaciones internas necesarias para brindar nuestros servicios, lo que incluye solucionar errores de software y problemas operacionales, realizar análisis, pruebas e investigación, y hacer un seguimiento y análisis de las tendencias de uso y de las actividades.
                            </p>
                            <p>
                                2.	Soporte al cliente
                                Yei3 usa la información recopilada para asistirlo cuando se comunica con nuestros servicios de soporte al cliente. Esta asistencia incluye lo siguiente:
                                	Dirigir sus preguntas a la persona apropiada de soporte al cliente
                                	Investigar y abordar sus inquietudes
                                	Hacer un seguimiento y mejorar nuestras respuestas de soporte al cliente
                            </p>
                            <p>
                                3.	Investigación y desarrollo
                                Podemos usar la información recopilada para realizar pruebas, investigación, análisis y desarrollo de funcionalidades o productos. Esto nos permite mejorar e incrementar la seguridad de nuestros servicios, desarrollar funciones y productos nuevos.
                            </p>
                            <p>
                                4.	*Comunicaciones desde Yei3
                                Yei3 puede usar la información recopilada para comunicarse con usted respecto a productos, servicios, promociones, estudios, encuestas, noticias, actualizaciones y eventos.
                                Yei3 también puede usar la información para presentarle anuncios y contenido relevantes sobre nuestros servicios y los de nuestros Socios comerciales. Puede recibir algunas de estas comunicaciones de acuerdo con su perfil como usuario de SafeOps.
                                Yei3 también puede usar los datos para informarle sobre elecciones, votos, referendos y otros procesos políticos relacionados con nuestros servicios.
                            </p>
                            <p>
                                5.	Procedimientos y requisitos legales
                                Podemos usar la información recopilada para investigar o abordar reclamos o conflictos relacionados con el uso que usted hace de los servicios de SafeOps, o para cualquier otro aspecto permitido por la ley aplicable o dispuesto por organismos normativos, entidades gubernamentales e investigaciones oficiales.
                            </p>
                            <p>
                                Cookies y tecnologías de terceros
                                RESUMEN
                                Yei3 y sus socios utilizan cookies y otras tecnologías de identificación en las apps, los sitios web, los correos electrónicos y los anuncios en línea para los fines descritos en la presente política.
                                Las cookies son pequeños archivos de texto que los sitios web, apps, medios en línea y anuncios almacenan en el buscador o dispositivo. Yei3 usa cookies y tecnología similar para propósitos, como los siguientes:
                                	Autenticar usuarios
                                	Recordar las preferencias y configuraciones del usuario
                                	Brindar y medir la efectividad de las campañas de publicidad
                                	También podemos permitir que terceros realicen mediciones de audiencia y servicios analíticos para nosotros, presenten anuncios en representación nuestra a través de internet, y realicen un seguimiento y nos informen sobre el rendimiento de estos anuncios. Estas organizaciones pueden usar cookies, balizas web, SDK y otras tecnologías para identificar su dispositivo cuando visita nuestro sitio y usa nuestros servicios, así como cuando visita otros sitios y servicios en línea. Consulte nuestra Declaración sobre cookies para obtener más información acerca del uso de cookies y otras tecnologías descritas en esta sección, incluidas sus opciones respecto a dichas tecnologías.
                            </p>
                            <p>
                                Intercambio y divulgación de información
                                RESUMEN
                                Ninguno de los productos, servicios y funciones de Yei3 requieren que intercambiemos información con otros usuarios. Pero es posible que intercambiemos su información con nuestros afiliados, subsidiarias y Socios comerciales, por motivos comerciales, legales o en caso de reclamos o conflictos.
                            </p>
                            <p>
                                Yei3 puede compartir la información recopilada con los siguientes:
                                1.	El público en general cuando envía contenido a un foro público
                                Nos encanta recibir comentarios de nuestros usuarios, incluso a través de foros públicos, como los blogs de SafeOps, redes sociales y ciertas funciones de nuestra red. Cuando se comunica con nosotros a través de estos canales, sus comunicaciones pueden hacerse públicas.
                            </p>
                            <p>
                                2.	Proveedores de servicios y Socios comerciales de Yei3
                                Yei3 puede brindar información a sus proveedores, consultores, Socios de publicidad, entidades de investigación y otros proveedores de servicios o Socios comerciales. Entre estas partes se incluyen, p. ej., las siguientes:
                                	Procesadores y facilitadores de pago.
                                	Proveedores de almacenamiento en la nube.
                                	Socios de marketing y proveedores de plataformas de marketing.
                                	Proveedores de datos analíticos.
                                	Socios de investigación, incluidos aquellos que realizan encuestas o proyectos de investigación en asociación con Yei3 o en su representación.
                                	Proveedores que asisten a Yei3 para mejorar la seguridad y protección de las apps.
                                	Consultores, abogados, contadores y otros proveedores de servicios profesionales.
                            </p>
                            <p>
                                3.	Con fines legales o ante un conflicto
                                Yei3 puede compartir su información si considera que así lo requieren las leyes, normas, estatutos, procesos legales o solicitudes gubernamentales vigentes debido a asuntos de seguridad o similares.
                                Esto incluye compartir su información con fuerzas del orden público, autoridades gubernamentales, o terceros según sea necesario para hacer cumplir nuestros Términos del servicio, acuerdos de usuario u otras políticas, para proteger los derechos y propiedad de Yei3, los derechos, seguridad y propiedad de otros, o en caso de reclamos o conflictos relacionados con el uso de nuestros servicios. Si usa la tarjeta de crédito de otra persona, es posible que las leyes nos exijan compartir la información con el titular de la tarjeta, incluida la información del servicio pagado.
                                Esto también incluye compartir información suya con terceros relacionados con (o durante las negociaciones) cualquier fusión con otra empresa, venta de activos empresariales, consolidación o reestructuración, financiación, o adquisición de toda o una parte de nuestro negocio por parte de otra empresa.
                            <p>
                            <p>
                                4.	Con su consentimiento
                                Yei3 puede compartir su información para un uso distinto al descrito en la presente política si se lo notificamos y usted manifiesta su consentimiento.
                            </p>
                            <p>
                                Conservación y eliminación de la información
                                RESUMEN
                                Yei3 conserva su perfil de usuario y otra información por el tiempo que mantenga su cuenta SafeOps.
                                Yei3 conserva información sobre sus búsquedas, uso y demás por 5 años debido a requisitos normativos, de impuestos, de seguro u otros. Posteriormente, Yei3 elimina o anonimiza esta información de acuerdo con las leyes aplicables.
                                Los usuarios pueden solicitar la eliminación de sus cuentas en cualquier momento. Si lo hacen, Yei3 elimina la información que no sea necesario conservar, y restringe el uso y el acceso a la información requerida.
                                Yei3 requiere información de su perfil de usuario a fin de brindar sus servicios y conserva dichos datos por el tiempo que usted mantiene su cuenta SafeOps.
                                Esa información incluye datos sobre sus búsquedas, listados de proveedores y uso por 5 años debido a requisitos normativos, de impuestos u otros. Cuando la información ya no es necesaria para brindar servicios a través de SafeOps, permitir el soporte al cliente, mejorar la experiencia del usuario u otros procesos operativos, Yei3 toma medidas a fin de prevenir el uso o el acceso a esta para cualquier propósito que no sea el cumplimiento de estos requisitos por seguridad, prevención y detección de fraude.
                                Puede solicitar la eliminación de su cuenta en cualquier momento a través de los medios de contacto con Yei3.
                                Si lo hace, Yei3 eliminará la información que no necesita. En ciertas circunstancias, es posible que Yei3 no pueda eliminar su cuenta, p. ej., si tiene montos o reclamos pendientes. Una vez que se resuelve el impedimento, Yei3 elimina su cuenta conforme a lo descrito anteriormente.
                                Yei3 también puede conservar cierta información, si fuera necesario, para satisfacer intereses comerciales legítimos, como la prevención de fraude.
                            </p>
                            <p>
                                Opciones y transparencia
                                RESUMEN
                                Yei3 proporciona los medios para que usted acceda a la información que Yei3 recopila y pueda controlarla, incluso, a través de lo siguiente:
                                	La actualización de contraseña dentro de la aplicación
                                	La cancelación de la suscripción después de término del periodo de servicio contratado
                                También puede solicitar que Yei3 le brinde detalles, copias y correcciones de su información.
                                A. CONFIGURACIÓN DE CUENTA
                                El menú Configuración de cuenta en la aplicación de SafeOps permite establecer o actualizar la contraseña, así como conocer el tipo de cuenta y cancelar la renovación autómatica para el siguiente periodo de servicio contratado.
                                B. EXPLICACIONES, COPIAS Y CORRECCIÓN
                                Usted puede solicitar que Yei3 realice lo siguiente:
                                	Le brinde una explicación detallada sobre la información que recopiló de usted y acerca de cómo la usa.
                                	Le envíe una copia de la información que recopiló sobre usted.
                                	Corrija la información incorrecta que tiene sobre usted.
                                Contacte a Yei3 para solicitar lo anterior mediante correo electrónico a la dirección safeops@yei3.com.
                                También puede solicitar la corrección del nombre y correo electrónico vinculados a su cuenta en el menú Configuración de la aplicación de SafeOps, al igual que consultar su historial de búsquedas y proveedores consultados.
                                E. NO RECIBIR PUBLICIDAD
                                Contacte a Yei3 para solicitar dejar de recibir correos electrónicos promocionales de Yei3 mediante correo electrónico a la dirección safeops@yei3.com. Tenga en cuenta que, si lo hace, aún podremos enviarle mensajes no promocionales, como recibos o facturas de servicio o información sobre su cuenta.
                            </p>
                            <p>
                            Actualizaciones a esta política
                            RESUMEN
                            Es posible que, ocasionalmente, actualicemos la presente política.
                            Es posible que actualicemos la presente política cada cierto tiempo. Si realizamos cambios significativos, le notificaremos los cambios a través de la aplicación de SafeOps o por otros medios, como el correo electrónico. En la medida en que la ley vigente lo permita, al utilizar nuestros servicios después de dicho aviso, acepta las actualizaciones de la presente política.
                            Le recomendamos que revise periódicamente la presente política para obtener la información más reciente sobre nuestras políticas de privacidad.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </main>
        <!--Footer-Wrap-->
        <footer>
            <hr class="mt-0 mb-1">
            <!-- Copyright -->
            <div class="container m-gab-1">
                <div class="row">
                    <div class="col-md-12 center">
                        <ul class="list-inline mb-0 text-center">
                            @* <li class="list-inline-item"><a class="m-list--link">© SafeOps 2019</a></li>*@
                            <li class="list-inline-item"><a class="m-list--link" href="https://yei3.com" target="_blank">Hecho con <i class="fa fa-heart text-error"></i> por Yei3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--End Footer-Wrap-->
    </div>

    @Scripts.Render("~/landing/refresh/js")

</body>
</html>
