<div class="footer">
    <div class="float-right">
        v 1.0.3
    </div>
    <div>
        <strong>Copyright</strong> <a href="http://yei3.com" target="_blank">Yei3</a>  &copy; 2019
    </div>
</div>
