
<div class="modal inmodal" id="modalPricing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Contratar plan</h4>
                <p>Y lo mejor de todo, es el precio.</p>
            </div>
            <div class="modal-body landing-page">
                <section id="pricing" class="pricing">
                    <div class="container">                        
                        <div class="row">
                            <div class="col-lg-6 wow zoomIn">
                                <ul class="pricing-plan list-unstyled">
                                    <li class="pricing-title">
                                        PRO</br>
                                        <p class="small" style="color:lightgray">
                                            (Hasta 100 búsquedas manuales/archivo y hasta 500 búsquedas automáticas de proveedores históricos)
                                        </p>
                                    </li>
                                    <li class="pricing-desc">
                                        Todas las funcionalidades disponibles.
                                    </li>
                                    @*<li class="pricing-price">
                                        <span>$499</span> / mes
                                    </li>*@
                                    <li>
                                        Tablero de control
                                    </li>
                                    <li>
                                        Búsqueda manual
                                    </li>
                                    <li>
                                        Búsqueda por archivo
                                    </li>
                                    <li>
                                        Exportación a Excel de los resultados
                                    </li>
                                    <li>
                                        Listas negras del SAT actualizadas
                                    </li>
                                    <li>
                                        Historial de consultas
                                    </li>
                                    <li>
                                        Estatus de proveedores
                                    </li>
                                    <li>
                                        Búsquedas automáticas de proveedores históricos por 5 años
                                    </li>
                                    <li>
                                        <a mp-mode="dftl" href="https://www.mercadopago.com/mlm/checkout/start?pref_id=445247036-3a494415-533c-497a-b873-ffa369cfd81c" name="MP-payButton" class='blue-ar-l-rn-none'>Comprar Mensual</a>
                                        <script type="text/javascript">
                                            (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
                                         </script>

                                        
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-6 wow zoomIn">
                                <ul class="pricing-plan list-unstyled">
                                    <li class="pricing-title">
                                        PREMIUM</br>
                                        <p class="small" style="color:lightgray">
                                            (Hasta 200 búsquedas manuales/archivo y hasta 1000 búsquedas automáticas de proveedores históricos)
                                        </p>
                                    </li>
                                    <li class="pricing-desc">
                                        Todas las funcionalidades disponibles.
                                    </li>
                                    @*<li class="pricing-price">
                                        <span>$999</span> / mes
                                    </li>*@
                                    <li>
                                        Tablero de control
                                    </li>
                                    <li>
                                        Búsqueda manual
                                    </li>
                                    <li>
                                        Búsqueda por archivo
                                    </li>
                                    <li>
                                        Exportación a Excel de los resultados
                                    </li>
                                    <li>
                                        Listas negras del SAT actualizadas
                                    </li>
                                    <li>
                                        Historial de consultas
                                    </li>
                                    <li>
                                        Estatus de proveedores
                                    </li>
                                    <li>
                                        Búsquedas automáticas de proveedores históricos por 5 años
                                    </li>                                   
                                    <li>
                                        <a href="mailto:ventas@yei3.com?subject=SafeOps%20-%20Comprar%20paquete%20premium" class="btn btn-primary">Comprar </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row m-t-lg">
                            <div class="col-lg-12 text-center m-t-lg">
                                <p>* Si tienes dudas o necesitas más de 200 búsquedas por mes, <a href="mailto:ventas@yei3.com?subject=SafeOps%20-%20Solicitar%20una%20cotización%20especial" class="navy-link">contáctanos</a> para revisarlo y solicitar una cotización personalizada.</br>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
