<div class="modal inmodal" id="RFCDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <i style="color:red;" class="fa fa-exclamation-circle modal-icon"></i>
                <h4 class="modal-title">Supuestos encontrados</h4>
            </div>
            <div class="modal-body">
                <p>
                    <i v-if="detail69.RFC.length == 12" style="float:left; font-size:37px; color:gray; margin: 0 5px 0 0" class="fa fa-building"></i>
                    <i v-if="detail69.RFC.length > 12" style="float:left; font-size:37px; color:gray; margin: 0 5px 0 0" class="fa fa-user"></i>
                    <strong>{{detail69.RFC}}</strong><br />
                                                     <small>{{detail69.Nombre}}</small>

                </p>
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>Supuesto </th>
                            <th>Primera Publicación </th>
                            <th>Monto </th>
                            <th>Publicación </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(c, ic) in detail69.Supuestos">
                            <td>{{ic + 1}}</td>
                            <td>{{c.Supuesto}}</td>
                            <td>{{c.PPublicacion}}</td>
                            <td>$ {{c.Monto}}</td>
                            <td>{{c.Publicacion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>