
@{
    ViewBag.Title = "Mi Perfil";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mi Perfil</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Mi Perfil</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Contraseña</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="formContrasena" class="m-t" role="form" action="#">
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="perfil.send.password" name="Password" placeholder="Contraseña actual" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="perfil.send.newpassword" name="NewPassword" placeholder="Nueva contraseña" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="perfil.send.repassword" name="RePassword" placeholder="Confirmar nueva contraseña" required="">
                        </div>

                        <button type="button" v-on:click="changePassword()" class="btn btn-primary block full-width m-b">Cambiar contraseña</button>
                    </form>
                </div>
            </div>



        </div>
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">{{perfil.TypeAccount.RolName}}</span>
                    <h5>Cuenta</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"></h1>
                    <div class="progress">
                        <div v-bind:style="{width: (perfil.TypeAccount.CurrentSearchs * 100 / perfil.TypeAccount.MaxSearch) + '%' }" v-bind:aria-valuemax="perfil.TypeAccount.MaxSearch" aria-valuemin="0" v-bind:aria-valuenow="perfil.TypeAccount.CurrentSearchs" role="progressbar" class="progress-bar  progress-bar-striped bg-info">
                            <span class="sr-only">{{(perfil.TypeAccount.CurrentSearchs * 100 / perfil.TypeAccount.MaxSearch)}} %</span>
                        </div>
                    </div>
                    <br />
                    <small>{{perfil.TypeAccount.CurrentSearchs}} de {{perfil.TypeAccount.MaxSearch}} Consultas</small>
                </div>
            </div>

            <div class="ibox float-e-margins" v-if="perfil.TypeAccount.RolId > 1">
                <div class="ibox-title">
                    <span class="label label-info pull-right">{{perfil.TypeAccount.RolName}}</span>
                    <h5>Consultas Automáticas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"></h1>
                    <div class="progress">
                        <div v-bind:style="{width: (perfil.TypeAccount.CurrentAutSearchs * 100 / perfil.TypeAccount.MaxAutSearch) + '%' }" v-bind:aria-valuemax="perfil.TypeAccount.MaxAutSearch" aria-valuemin="0" v-bind:aria-valuenow="perfil.TypeAccount.CurrentAutSearchs" role="progressbar" class="progress-bar  progress-bar-striped bg-info">
                            <span class="sr-only">{{(perfil.TypeAccount.CurrentAutSearchs * 100 / perfil.TypeAccount.MaxAutSearch)}} %</span>
                        </div>
                    </div>
                    <br />
                    <small>{{perfil.TypeAccount.CurrentAutSearchs}} de {{perfil.TypeAccount.MaxAutSearch}} Consultas</small>
                </div>
            </div>

            <div class="alert alert-info" v-on:click="GetPremium();" style="cursor:pointer;" v-if="user.rolId < 3">
                <i class="fa fa-star" style="float:left; margin-right:5px; font-size:x-large"></i>
               Actualiza tu paquete
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModalRFC69")
@Html.Partial("_ModalRFC69B")
@Html.Partial("_ModalPricing")

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/Scripts/app/main.js"></script>
    </environment>
}

